/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  display: none;
}

.cart {
  width: 85%;
  margin: 0 auto;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  .cart {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cart .clear-all {
  margin-top: 15px;
  border: 1.5px solid;
  background: none;
  font-size: 15px;
  width: 125px;
  height: 33px;
}

.cart .products-wrap {
  width: 55%;
}

@media (max-width: 1000px) {
  .cart .products-wrap {
    width: 100%;
    margin: 0 auto;
  }
}

.cart .products-wrap .products {
  height: 77vh;
  overflow-y: scroll;
}

.cart .products-wrap .products .product-descript {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  border: 1px grey solid;
  border-left: none;
  border-right: none;
  padding: 10px 0;
}

.cart .products-wrap .products .product-descript .product-img {
  width: 200px;
}

.cart .products-wrap .products .product-descript .divide {
  width: 70%;
}

.cart .products-wrap .products .product-descript .divide .product-name {
  display: none;
}

.cart .products-wrap .products .product-descript .divide .prodName {
  font-size: 21px;
  margin: 20px 0 10px 10px;
}

.cart .products-wrap .products .product-descript .divide .product-price {
  font-size: 17px;
  margin: 10px;
}

.cart .products-wrap .products .product-descript .cart-product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  margin-top: 185px;
  width: 100%;
}

@media (max-width: 1450px) {
  .cart .products-wrap .products .product-descript .cart-product-wrapper {
    width: 85%;
    margin-left: 20px;
  }
}

@media (max-width: 550px) {
  .cart .products-wrap .products .product-descript .cart-product-wrapper {
    margin-top: 140px;
    display: block;
  }
}

.cart .products-wrap .products .product-descript .cart-product-wrapper .remove-quantity-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

@media (max-width: 550px) {
  .cart .products-wrap .products .product-descript .cart-product-wrapper .remove-quantity-btns {
    display: inline;
    margin-bottom: 10px;
  }
}

.cart .products-wrap .products .product-descript .cart-product-wrapper .remove-quantity-btns .delete-btn {
  cursor: pointer;
}

@media (max-width: 550px) {
  .cart .products-wrap .products .product-descript .cart-product-wrapper .remove-quantity-btns .delete-btn {
    margin: 10px 0;
  }
}

.cart .products-wrap .products .product-descript .cart-product-wrapper .remove-quantity-btns .incartBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.cart .products-wrap .products .product-descript .cart-product-wrapper .remove-quantity-btns .incartBtn .increase {
  font-size: 20px;
  margin-right: 20px;
}

@media (max-width: 550px) {
  .cart .products-wrap .products .product-descript .cart-product-wrapper .remove-quantity-btns .incartBtn .increase {
    font-size: 17px;
  }
}

.cart .products-wrap .products .product-descript .cart-product-wrapper .remove-quantity-btns .incartBtn .decrease {
  font-size: 20px;
}

@media (max-width: 550px) {
  .cart .products-wrap .products .product-descript .cart-product-wrapper .remove-quantity-btns .incartBtn .decrease {
    font-size: 17px;
  }
}

.cart .products-wrap .products .product-descript .cart-product-wrapper .remove-quantity-btns .incartBtn .product-quantity {
  font-size: 18px;
  margin: 0 8px;
}

@media (max-width: 550px) {
  .cart .products-wrap .products .product-descript .cart-product-wrapper .remove-quantity-btns .incartBtn .product-quantity {
    font-size: 17px;
  }
}

.cart .payment-container {
  width: 35%;
}

@media (max-width: 1000px) {
  .cart .payment-container {
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .cart .payment-container {
    width: 100%;
  }
}

.cart .payment-container .total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25%;
}

@media (max-width: 900px) {
  .cart .payment-container .total-price {
    margin-top: 10%;
  }
}

.cart .payment-container .check-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 230px;
  height: 35px;
  border: black solid;
  color: white;
  background: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart .payment-container .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 7px;
}

.showcart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.empty-cart {
  height: 72.6vh;
  display: block;
  width: 100%;
  font-size: 20px;
  margin-top: 38px;
}

.empty-cart .empty-cart-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  z-index: 100000;
  background: black;
  color: white;
  height: 60px;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 900px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 5%;
  }
}

.header .title {
  color: white;
  text-decoration: none;
  font-size: 22px;
  margin-bottom: 0;
}

@media (max-width: 950px) {
  .header .title {
    font-size: 20px;
  }
}

.header .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 26%;
  font-size: 18px;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .header .list {
    width: 36%;
  }
}

@media (max-width: 900px) {
  .header .list {
    display: none;
  }
}

.header .list .list-text {
  text-decoration: none;
  color: white;
}

.header .icon-container {
  width: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1300px) {
  .header .icon-container {
    width: 18%;
  }
}

@media (max-width: 900px) {
  .header .icon-container {
    display: none;
  }
}

.header .icon-container .icon {
  width: 50px;
}

@media (max-width: 950px) {
  .header .icon-container .icon {
    width: 46px;
  }
}

.header .icon-container .heart-icon {
  font-size: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 13px;
  color: white;
}

.header .icon-container .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.header .icon-container .cart .cart-a {
  text-decoration: none;
  color: white;
  position: relative;
}

.header .icon-container .cart .cart-a .cart-img {
  width: 40px;
}

.header .nav-bar {
  display: none;
  font-size: 25px;
}

@media (max-width: 900px) {
  .header .nav-bar {
    display: block;
    margin-right: 10%;
  }
}

.header .responsive-header {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -100%;
  background: #f0f8ff5e;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

@media (max-width: 900px) {
  .header .responsive-header {
    display: block;
  }
}

.header .responsive-header .responsive-contant {
  width: 60%;
  height: 100vh;
  background: black;
}

.header .responsive-header .responsive-contant .close-btn {
  font-size: 35px;
  margin: 20px 0 25px 15px;
}

.header .responsive-header .responsive-contant .resp-list {
  padding: 0;
}

.header .responsive-header .responsive-contant .resp-list .list-wrap {
  padding: 10px 0 10px 10%;
  border: solid white 0.5px;
  border-left: none;
  border-right: none;
  font-size: 17px;
}

.header .responsive-header .responsive-contant .resp-list .list-wrap .list-a {
  text-decoration: none;
  color: white;
}

@media (max-width: 700px) {
  .main-slider {
    display: none;
  }
}

.main-slider .carousel-control-prev {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  margin-left: 20px !important;
}

.main-slider .carousel-control-prev .slide-btn {
  background-image: none !important;
}

.main-slider .carousel-control-prev .slide-btn .btn-style {
  font-size: 50px;
  color: black;
}

.main-slider .carousel-control-next {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  margin-right: 20px !important;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-slider .carousel-control-next .slide-btn-next {
  background-image: none !important;
}

.main-slider .carousel-control-next .slide-btn-next .btn-style-next {
  font-size: 50px;
  color: black;
}

.carousel-dark {
  display: none;
}

@media (max-width: 700px) {
  .carousel-dark {
    display: block;
  }
}

.carousel-dark .slider-next-btn {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.web-descript {
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
  color: #6d6e71;
  font-size: 17px;
}

@media (max-width: 800px) {
  .web-descript {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .web-descript {
    font-size: 14px;
  }
}

.web-descript .descript-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
  color: #414042;
  font-size: 25px;
}

@media (max-width: 800px) {
  .web-descript .descript-title {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .web-descript .descript-title {
    font-size: 19px;
  }
}

.product-wrapper {
  margin: 50px 0;
  padding: 30px 0;
  border-bottom: 1px solid;
  border-top: solid 1px;
}

.product-wrapper .product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 90%;
  padding: 0 30px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 600px) {
  .product-wrapper .product-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product-wrapper .product-container .seperate-product {
  width: 20%;
}

@media (max-width: 900px) {
  .product-wrapper .product-container .seperate-product {
    width: 40%;
    margin: 20px 0 20px 0;
  }
}

@media (max-width: 600px) {
  .product-wrapper .product-container .seperate-product {
    width: 60%;
    margin: 20px;
  }
}

.product-wrapper .product-container .seperate-product .image {
  width: 100%;
}

.product-wrapper .product-container .seperate-product .name {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 7px;
}

@media (max-width: 900px) {
  .product-wrapper .product-container .seperate-product .name {
    font-size: 22px;
  }
}

.product-wrapper .product-container .seperate-product .price {
  font-size: 18px;
  margin-bottom: 15px;
}

.product-wrapper .product-container .seperate-product .btn-wrapper {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-wrapper .product-container .seperate-product .btn-wrapper .addToCart {
  border: 1.5px solid;
  background: none;
  font-size: 15px;
  width: 125px;
  height: 33px;
}

.product-wrapper .product-container .seperate-product .btn-wrapper .heart-icon {
  font-size: 22px;
}

.product-list {
  margin: 0 auto;
  width: 85%;
  color: #414042;
}

.product-list .product-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #414042;
  font-size: 28px;
}

@media (max-width: 550px) {
  .product-list .product-title {
    font-size: 25px;
  }
}

.product-list .list-wrapper {
  padding: 0;
}

.product-list .list-wrapper .click-product {
  color: #414042;
  text-decoration: none;
}

.product-list .list-wrapper .click-product .product-type {
  width: 100%;
  border-bottom: solid 1px #6d6e71;
  font-size: 20px;
  padding-left: 25px;
  margin-bottom: 15px;
  padding-bottom: 3px;
}

.footer-wrap {
  background-color: black;
  color: white;
  margin-top: 80px;
  padding: 0 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 550px) {
  .footer-wrap .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-wrap .social-media .media-click {
  text-decoration: none;
  font-size: 35px;
  color: #c0c0c0;
  margin-right: 20px;
}

@media (max-width: 550px) {
  .footer-wrap .social-media .media-click {
    font-size: 25px;
  }
}

.footer-wrap .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
  width: 35%;
}

@media (max-width: 870px) {
  .footer-wrap .footer-list {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .footer-wrap .footer-list {
    width: 80%;
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .footer-wrap .footer-list {
    font-size: 12px;
  }
}

.footer-wrap .footer-list .footer-list-click {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */