@import "./reset";
@import "./variables";
@import "./mixins";
///////header start/////
.header{
    z-index: 100000;
    background: black;
    color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width:900px) {
        justify-content: space-between;
        padding-left: 5%;
       }
    .title{
        color: white;
        text-decoration: none;
        font-size: 22px;
        margin-bottom: 0;
        @media (max-width:950px) {
            font-size: 20px;
           }
    }

    .list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 26%;
        font-size: 18px;
        margin-bottom: 0;
        @media (max-width:1200px) {
            width: 36%;
        }
        @media (max-width:900px) {
            display: none;
           }
        .list-text{
            text-decoration: none;
            color: white;
        }
    }
    .icon-container{
        width: 13%;
        display: flex;
        justify-content: space-around;
        @media (max-width:1300px) {
            width: 18%;
        }
        @media (max-width:900px) {
         display: none;
        }
       .icon{
          width: 50px;
          @media (max-width:950px) {
           width: 46px;
          }
        }
        .cart{
        display: flex;
        align-items: center;
          .cart-img{
             width: 40px; 
          }
        }
    }
    .nav-bar{
       display: none;
       font-size: 25px;
       @media (max-width:900px) {
       display: block;
       margin-left: 50%;
       }
       @media (max-width:600px) {
        margin-left: 40%;
        }
        @media (max-width:480px) {
            margin-left: 20%;
            }
    }
    .responsive-header{

    }
}
///////header end/////

////////slider start//////
.main-slider{
    @media (max-width:700px) {
        display: none;
     }
    .carousel-control-prev{
        justify-content: space-between !important;
        margin-left: 20px !important;
        .slide-btn{
            background-image: none !important;
        .btn-style{
            font-size: 50px;
            color: black;
        } 
        }
    }
    .carousel-control-next{
        justify-content: flex-start !important;
        margin-right: 20px !important;
        transform: rotate(180deg);
        .slide-btn-next{
            background-image: none !important;
        .btn-style-next{
            font-size: 50px;
            color: black;
        } 
        }
    }
    
}

////////slider end//////
//////responsive slider
.carousel-dark{
    display: none;
    @media (max-width:700px) {
       display: block;
    }
    .slider-next-btn{
        transform: rotate(360deg);
    }
}
//////website description start/////////////
.web-descript{
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
    color: #6d6e71;
    font-size: 17px;
    @media (max-width:800px) {
        font-size: 15px;
    }
    @media (max-width:600px) {
        font-size: 14px;
       }
    .descript-title{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        color: #414042;
        font-size: 25px;
        @media (max-width:800px) {
            font-size: 22px;
        }
        @media (max-width:600px) {
            font-size: 19px;
        }
    }
}
//////website description end/////////////

////////////website cart product list start//////////
.products{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .product-img{
        width: 200px;
    }
    .delete-btn{
    font-size: 40px;
    }
}

////////////website cart product list start//////////

///////////////products you can add to cart start
.product-wrapper{
    margin: 50px 0;
    padding: 30px 0;
    border-bottom: 1px solid;
    border-top: solid 1px;
    .product-container{
        display: flex;
        justify-content: space-between;
        max-width: 90%;
        padding: 0 30px;
        margin: 0 auto;
        flex-wrap: wrap;
        @media (max-width:600px) {
         justify-content: center;
          
        }
        .seperate-product{
            width: 20%;
            @media (max-width:900px) {
                width: 40%;
                margin: 20px 0 20px 0;
            }
            @media (max-width:600px) {
                width: 60%;
                margin: 20px;
              
            }
            .image{
                width: 100%;
            }
            .name{
                font-size: 25px;
                margin-top: 10px;
                margin-bottom: 7px;
                @media (max-width:900px) {
                    font-size: 22px;
                }
            }
            .price{
                font-size: 18px;
                margin-bottom: 15px;
            }
            .addToCart{
                border: 1.5px solid;
                background: none;
                font-size: 15px;
                width: 125px;
                height: 33px;
            }

        }
       
    }
}

///////////////products you can add to cart end

///////product list start/////////
.product-list{
    margin: 0 auto;
    width: 85%;
    color: #414042;
    .product-title{
        display: flex;
        justify-content: center;
        color: #414042;
        font-size: 28px;
        @media (max-width:550px) {
   
            font-size: 25px;
          }
    }
    .list-wrapper{
        padding: 0 ;
        .click-product{
            color: #414042;
            text-decoration: none;
            .product-type{
                width: 100%;
                border-bottom: solid 1px #6d6e71;
                font-size: 20px;
                padding-left: 25px;
                margin-bottom: 15px;
                padding-bottom: 3px;
            }
        }
       
    }
}
///////product list end/////////

///////footer start////////
.footer-wrap{
  width: 100%;
  background-color:black;
  color: white;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 7%;
  align-items: center;
  .social-media{
    @media (max-width:550px) {
      display: flex;

    }
.media-click{
    text-decoration: none;
    font-size: 35px;
    color: #c0c0c0;
    margin-right: 20px;
    @media (max-width:550px) {
   
        font-size: 25px;
      }
}
  }
  .footer-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    width: 35%;
    @media (max-width:870px) {
        width: 60%;
    }
    @media (max-width:500px) {
        width: 80%;
        font-size: 15px;
    }
    @media (max-width:450px) {
        font-size: 12px;
    }
    .footer-list-click{
        color: white;
        text-decoration: none;
    
    }
  }
}
///////footer end////////